NEXT_PUBLIC_API_URL=
SITE_URL=
NEXT_PUBLIC_MOCK_DEPLOYMENT_URL=
NODE_ENV='development'
# NODE_ENV='production'

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
NEXT_PUBLIC_SHOW_LOGGER="false"